@tailwind base;
@tailwind components;
@tailwind utilities;


  *{
    background-color: wheat;
  }
 
.active{
  background: #406aff;
}
/* Custom CSS */
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
   -webkit-border-radius:100%;
   -moz-border-radius:100%;
   -ms-border-radius:100%;
   -o-border-radius:100%;
}
.btn{
  background: #486aff;
  box-shadow: 0px 4.42184px 187.23px rgba(89, 86, 255, 0.51);
}
/* Tailwind CSS */
@layer base {
  .btn {
      @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
      @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
      @apply bg-gradient-to-r from-blue-500 to-blue-700 font-semibold font-primary px-8 h-[54px];
  }
  .section {
      @apply py-8 lg:py-32 lg:h-screen flex items-center;
  }
  .h2 {
      @apply font-primary text-2xl mb-6 tracking-wide uppercase;
  }
  .h3 {
      @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  body {
      @apply font-secondary text-lg leading-8 text-white;
  }
}
